.tabList{
  display: flex;
}
.tab{
  display: flex;
  height: 30px;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  margin-right: 10px;
}
.tab span{
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.selected{
  border-bottom: 2px solid  #fa4549;
  font-weight: 800;
}