.buttonG{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 36, 0.15);
  margin-left: 10px;
  font-size: 14px;
  background-color:green;
  color:#fff
}
.buttonS1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 36, 0.15);
  margin-left: 10px;
  font-size: 14px;
  background-color:transparent;
  color:#000
}
.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
}