
*{
  box-sizing: border-box;
}
.nav{
  padding: 16px 32px;
  background-color: #24292f;
  display: flex;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}
.header{
  padding: 16px 32px;
  background-color: rgb(246, 248, 250);
  height: 96px;
  border-bottom: 1px solid #ddd;
  /* box-shadow: inset -1px 0 hsla(210, 18%, 87%, 1); */
}
.listContainer{
  padding: 0px 32px;
  margin-top: 24px;
  height: 300px;
}
.footer{
  padding: 40px 16px 8px;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}