.header{
  padding: 16px 32px 0;
  background-color: rgb(246, 248, 250);
  border-bottom: 1px solid #ddd;
  box-shadow: inset -1px 0 hsla(210, 18%, 87%, 1);
}
.toSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.name{
  font-size: 20px;
  color: #0969da;
}
.bold{
  font-weight: 800;
}
.buttonContainer{
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.silverButton{
  background-color: transparent;
  color: #000;
}
.circle{
 width: 20px;
 height: 20px;
 border-radius: 50px;
 background-color: rgba(27, 31, 36, 0.15);
 align-items: center;
 display: flex;
 justify-content: center;
 margin-left: 3px; 
}